html {
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  /* height: 790px; */
  /* background-color: aqua; */
}
.nav {
  display: flex;
  justify-content: center;
  /* background-color: bisque; */
  gap: 30px;
  cursor: pointer;
}
.nav li {
  margin-top: 10px;
  margin-right: 30px;
  list-style: none;
}
a {
  text-decoration: none;
  /* scroll-behavior: auto; */
  color: #000;
  /* transition-delay: 1s; */
}
/* .nav li :hover {
  background-color: #bcbcbc;
} */
.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  height: 700px;
  /* background-color: aqua; */
  /* margin: 0px 50px; */
}
.box1 .leftBox {
  width: 35%;
  height: 500px;
  padding: 40px;
  /* background-color: bisque; */
}
.box1 .rightBox {
  width: 25%;
  height: 500px;
  background-color: rgb(126, 112, 95);
}
.box1 .rightBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.leftBox .name {
  font-size: 20px;
  font-weight: 400;
  margin-top: 80px;
  margin-left: 20px;
  color: #ff3147;
}
.leftBox .title {
  font-size: 46px;
  margin-left: 20px;
}
.leftBox .detail {
  margin-left: 20px;
  font-size: 15px;
  line-height: 25px;
}
.leftBox .but {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 10px;
  background-color: #ff3147;
  padding: 11px 25px;
  border: none;
  color: white;
  cursor: pointer;
}

/* box 2 */

.box2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 500px;
  /* background-color: rgb(23, 88, 146); */
}
.box2 .top {
  width: 60%;
  /* height: 200px; */
  /* background-color: aqua; */
}
.box2 .bottom {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 70%;
  /* background-color: #ff3147; */
  height: 150px;
  display: flex;
  justify-content: space-around;
  /* width: 600px; */
}
.box2 .bottom .imgBox {
  width: 20%;
}
.box2 .bottom .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top .topLeft {
  /* height: 50%; */
  color: #ff3147;
  margin-left: 20px;
}
.innerBot {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.innerBot .left {
  line-height: 40px;
  width: 40%;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
.innerBot .right {
  width: 60%;
  padding-left: 50px;
  height: 100%;
  line-height: 20px;
  font-size: 15px;
  /* background-color: aqua; */
}
.box2 .bottom {
  /* width: 100%; */
  height: 800px;
  /* background-color: aquamarine; */
}

/* box3 */
.box3 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.box3 .textBox3 {
  color: #ff3147;
  text-align: center;
}
.box3 h2 {
  text-align: center;
  font-size: 30px;
}
.box3 .focus {
  height: 300px;
  display: flex;
  width: 70%;
  /* align-items: center; */
  /* justify-content: center; */
  justify-content: space-around;
}
.focus .best {
  width: 18%;
  /* background-color: rgb(224, 240, 255); */
}
.box3 .focus .best img {
  width: 40px;
}
.focus .best p {
  color: black;
}

/* BOX4 */

.box4 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box4 .txt1 {
  text-align: center;
  color: #ff3147;
}
.box4 h2 {
  text-align: center;
  font-size: 30px;
}
.box4 .work {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.box4 .left {
  width: 40%;
  height: 75%;
  display: flex;
}
.box4 .left img {
  width: 100%;
}
.box4 .right {
  width: 18%;
  display: flex;
  flex-direction: column;
}
.box4 .right .txt {
  padding: 0px 12px;
  text-align: start;
  background-color: #f7f7f7;
}
.box4 .right #t1 {
  /* margin: 0px 5px; */
  background-color: #ff394d;
}
/* box 5 */
.box5 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.box5 .nm {
  text-align: center;
  color: #ff3147;
}
.box5 h2 {
  text-align: center;
  font-size: 30px;
}
.box5 .user {
  height: 200px;
  display: flex;
  /* width: 80%; */
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.box5 .user .b1 {
  /* height: 300px; */
  width: 130px;
  height: 130px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.box5 .user :hover {
  background-color: #bcbcbc;
  border-radius: 5px;
  transition: ease-in-out;
}
.box5 .user .b1 img {
  width: 20px;
}

/* BOX 6 */

.box6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box6 .nm {
  text-align: center;
  color: #ff3147;
}
.box6 h2 {
  text-align: center;
  font-size: 30px;
}
.box6 .feed {
  width: 80%;
  /* gap: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.box6 .left {
  width: 35%;
  /* height: 100%; */
  text-align: center;
}
.box6 .feed .left .name {
  color: #ff3147;
}
.box6 .right {
  width: 40%;
  display: flex;
  /* background-color: #f23187; */
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 20px; */
}
.box6 .right .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box6 .right .form input {
  width: 270px;
  margin: 5px;
  padding: 5px;
}
.box6 .right .form .but {
  margin: 10px;
  width: 100px;
  background-color: rgb(188, 188, 188);
  border: none;
  border-radius: 5px;
  padding: 5px 0px;
  cursor: pointer;
}
.form .but :hover {
  background-color: rgb(59, 225, 131);
  /* border: 1px solid green; */
}
/* footer */
.footer {
  width: 100%;
  height: 250px;
  background-color: #ff3147;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  margin: 20px;
  width: 90px;
}
